@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

.mainBack{
    min-height: 93vh;
    display: flex;
    padding:10px 0;
}

.title{
    font-size:50px;
}
.page{
    width: 100%;
}

.heading{
    font-size: 70px;
    font-family: "Work Sans",sans-serif;
    padding:5px 10px;
}

@media only screen and (max-width: 768px)
{
    .heading{
        font-size: 30px;
        font-family: "Work Sans",sans-serif;
       justify-content: center;
    }
}